.vscode/.ropeproject

/Backup
/Backup-Original
*.*.toe
*.*.tox
CrashAutoSave.TD-Arena*.*.toe
TouchDesignerCrash.*

/.td-arena
/Compositions
/Logs
!/Logs/.gitkeep
TD-Arena.Settings.json

__pycache__
.pytest_cache

.venv
.ruff_cache
.coverage*
lcov.info
