[MASTER]
init-hook='import sys; sys.path.append("Lib")'
load-plugins=pylint_quotes
indent-string=\t
indent-after-paren=1
disable=invalid-name,
        bad-continuation,
		duplicate-code,
        fixme,
        missing-class-docstring,
        missing-function-docstring,
        missing-module-docstring,
        too-many-instance-attributes,
		attribute-defined-outside-init

[VARIABLES]
additional-builtins=COMP,
                    absTime,
                    baseCOMP,
					debug,
                    op,
					PaneType,
                    project,
                    run,
                    tableDAT,
                    tdu,
					ui,
					WindowsError
