[MASTER]
init-hook='import sys; sys.path.append("Lib")'
load-plugins=pylint_quotes
indent-string=\t
indent-after-paren=1
disable=invalid-name,
        fixme,
        missing-class-docstring,
        missing-function-docstring,
        missing-module-docstring

[VARIABLES]
additional-builtins=COMP,
					absTime,
                    op,
                    project,
                    run,
					tdu
